# -*- coding: utf-8 -*-
# Squish test case: {{testName}}
# Suite: {{suiteName}}
# Created: {{date}}


def main():
{{#hasAut}}
    startApplication("{{aut}}")

    # TODO: drive the application under test and add verifications, e.g.
    #   test.compare(waitForObjectExists(names.some_object).text, "expected")
{{/hasAut}}
{{^hasAut}}
    # TODO: launch your application under test, then drive it and add
    # verifications with test.compare / test.verify.
    pass
{{/hasAut}}
